fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
cryptography
pydantic
pydantic-settings
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
python-multipart
python-dotenv
pytest
httpx
